* {
    padding: 0;
    margin: 0;
}

svg {
    width: 250px;
   
}

h1 {
    font-size: 4em !important;
    color: white !important;
}

h2 {
    font-size: 1.5em !important;
    text-shadow: 1px 1px rgba(0, 0, 0, .6);
    color: white !important;
    font-style: italic;
}

#jumbotron {
    padding-top: 2em;
    padding-bottom: 1em;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.0));
    text-align: center
}

td:first-of-type,
td:first-of-type>div {
    height: 200px;
    width: 200px;
}

body {
    background-image: url('https://images.pexels.com/photos/110874/pexels-photo-110874.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
    background-size: cover;
}

.container {
    padding-top: 1em;
    padding-bottom: 2em;margin-bottom: 1em;
    background-color: rgba(204, 223, 255,0.8);
    width: 100%;
}

.input-group {
    display: inline-flex !important;
}

td {
    background-color: rgba(255, 255, 255, 0.6);
}

